.card {
  overflow: hidden;
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, $dark 100%);
  }

  &::after {
    z-index: 7;
    opacity: 0;
    content: "";
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px double rgba(255, 255, 255, 0.4);
    transition: opacity 0.2s ease-in;
  }

  &:hover::after {
    opacity: 1;
  }
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 24px;
  bottom: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: $white;

  @include mediaTablet {
    font-size: 20px;
    left: 30px;
    bottom: 30px;
  }
}
